:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
* Container for title */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.title {
  font-weight: bold;
  font-size: 28px;
}

/* Company info container */
.company-info {
  display: flex;           /* To align the logo and text horizontally */
  align-items: center;     
}

/* Company logo styling */
.company-logo {
  width: 125px;             
  height: auto;
  margin-right: 10px;      
}


.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

table {
    width: 80%;
    max-width: 800px;
    border-bottom: 1px solid currentColor;
    border-right: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-top: 1px solid currentColor;
}

th.mat-header-cell,
td.mat-cell {
    padding: 8px;
}

/* Styling for columns */
.mat-column-orderNumber, .mat-column-name, .mat-column-shortDescription {
    font-size: 16px;
    text-align: center;
    border-right: 1px solid currentColor;
}

.mat-column-name {
    padding-left: 50px;
    padding-right: 50px;
}

.custom-button {
    width: 250px; /* Make buttons wider */
    height: 70px; /* Increase button height */
    margin: 0 300px; /* Spacing between the buttons */
}











