:host {
    display: flex;
    height: 100%;
}

.side-panel {
    margin: 30px;
    width: 30%;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 16px;
}

.main-content {
    margin: 30px;
    width: 70%;
    padding: 16px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.workflow-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.workflow-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.workflow-icons {
    display: flex;
    gap: 10px;
}

.workflow-icons button {
    padding: 5px;
}

.tab-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task-label {
    flex-grow: 1;
    font-size: 1.2em;
}

.tab-icons {
    display: flex;
    gap: 0;
}

.tab-icons button {
    padding: 2px;
    font-size: 16px;
}

.item-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-icons {
    display: flex;
    gap: 0;
}

.item-icons button {
    padding: 2px;
    font-size: 16px;
}

.item-details {
    margin-top: 10px;
}

mat-form-field {
    width: 100%;
}
.selected-element, .selected-tab {
    background-color: #e0f7fa;
    border-color: #00796b;
}
