<div class="side-panel">
    <!-- Content for the side panel -->
    <div *ngFor="let workflow of order.workflows; let i = index" class="workflow-container"  [ngClass]="{'selected-element': selectedWorkflowIndex === i}" >
        <div class="workflow-header" (click)="selectWorkflow(i)">
            <mat-form-field *ngIf="workflowStates[i]?.editMode">
                <input matInput [(ngModel)]="workflow.name" placeholder="Name">
            </mat-form-field>
            <span *ngIf="!workflowStates[i]?.editMode">{{ workflow.name }}</span>
            <div class="workflow-icons">
                <button mat-icon-button (click)="toggleEditMode(i, $event)">
                    <mat-icon>{{ workflowStates[i].editMode ? 'check' : 'edit' }}</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteWorkflow(i, $event)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button (click)="toggleDescription(i, $event)">
                    <mat-icon>info</mat-icon>
                </button>
            </div>
        </div>
        <mat-form-field *ngIf="workflowStates[i]?.showDescription || workflowStates[i]?.editMode">
            <textarea matInput [(ngModel)]="workflow.description" placeholder="Description"
                [disabled]="!workflowStates[i].editMode"></textarea>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="addWorkflow()">Add Workflow</button>
</div>

<!-- ---------------------------------------------------------------------------------- -->

<div class="main-content">
    <mat-tab-group [(selectedIndex)]="selectedTaskIndex" >
        <mat-tab *ngFor="let task of selectedWorkflowTasks; let i = index" >
            <ng-template mat-tab-label>
                <div class="tab-label-container" [ngClass]="{'selected-tab': selectedTaskIndex === i}">
                    <span class="task-label">{{ task.name }}</span>
                    <div class="tab-icons">
                        <button mat-icon-button (click)="openEditDialog(i, true)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteTask(i, $event)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button (click)="openEditDialog(i, false)">
                            <mat-icon>info</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-template>
            <!-- Content for the tab -->
            <div *ngFor="let item of task.items; let itemIndex = index" class="item-container">
                <div class="item-header">
                    <mat-form-field *ngIf="itemStates[itemIndex]?.editMode">
                        <input matInput [(ngModel)]="item.name" placeholder="Name">
                    </mat-form-field>
                    <span *ngIf="!itemStates[itemIndex]?.editMode">{{ item.name }}</span>
                    <div class="item-icons">
                        <button mat-icon-button (click)="toggleEditItemMode(itemIndex, $event)">
                            <mat-icon>{{ itemStates[itemIndex]?.editMode ? 'check' : 'edit' }}</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteItem(itemIndex, $event)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button (click)="toggleItemDescription(itemIndex, $event)">
                            <mat-icon>info</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-form-field *ngIf="itemStates[itemIndex]?.showDescription || itemStates[itemIndex]?.editMode">
                    <mat-label>Item Description</mat-label>
                    <textarea matInput [(ngModel)]="item.longDescription" placeholder="Description"
                        [disabled]="!itemStates[itemIndex].editMode"></textarea>
                    <mat-label>Time Required</mat-label>
                    <textarea matInput [(ngModel)]="item.timeRequired" placeholder="Time required"
                        [disabled]="!itemStates[itemIndex].editMode"></textarea>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="addItem()">Add Item</button>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <button mat-icon-button (click)="addTask()">
                    <mat-icon>add</mat-icon>
                    Add Task
                </button>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
