<div class="side-panel">
    <!-- Content for the side panel -->
    <div *ngFor="let workflow of order.workflows; let i = index" class="workflow-container" (click)="selectWorkflow(i)">
        <div class="workflow-header">
            <mat-form-field *ngIf="workflowStates[i]?.editMode">
                <input matInput [(ngModel)]="workflow.name" placeholder="Name">
            </mat-form-field>
            <span *ngIf="!workflowStates[i]?.editMode">{{ workflow.name }}</span>
            <div class="workflow-icons">
                <button mat-icon-button (click)="toggleEditMode(i, $event)">
                    <mat-icon>{{ workflowStates[i]?.editMode ? 'check' : 'edit' }}</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteWorkflow(i, $event)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button (click)="toggleDescription(i, $event)">
                    <mat-icon>info</mat-icon>
                </button>
            </div>
        </div>
        <mat-form-field *ngIf="workflowStates[i]?.showDescription || workflowStates[i]?.editMode">
            <textarea matInput [(ngModel)]="workflow.description" placeholder="Description"
                [disabled]="!workflowStates[i]?.editMode"></textarea>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="addWorkflow()">Add Workflow</button>
</div>

<div class="main-content">
    <mat-tab-group [(selectedIndex)]="selectedIndex">
        <mat-tab *ngFor="let task of selectedWorkflowTasks; let i = index">
            <ng-template mat-tab-label>
                <div class="tab-label-container">
                    <span class="task-label">{{ task.name }}</span>
                    <div class="tab-icons">
                        <button mat-icon-button (click)="openEditDialog(i, true)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteTask(i, $event)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button (click)="openEditDialog(i, false)">
                            <mat-icon>info</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-template>
            <!-- Content for the tab -->
            <div *ngFor="let item of task.items">
                <mat-form-field>
                    <input matInput [(ngModel)]="item.name" placeholder="Item Name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="item.longDescription" placeholder="Item Description">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="item.timeRequired" placeholder="Time Required" type="number">
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="addItem(i)">Add Item</button>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <button mat-icon-button (click)="addTask()">
                    <mat-icon>add</mat-icon>
                    Add Task
                </button>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
