<!-- Container for the order table, centered and styled for a responsive layout -->
<div class="mx-auto w-4/5">
    <!-- Order table component: Displays a list of orders and emits an event when an order is clicked -->
    <app-order-table 
        (onClick)="orderSelected($event)" 
        [orders]="loadedOrders">
    </app-order-table>
</div>

<!-- Container for the action button, centered and styled with a margin for spacing -->
<div class="w-7/12 mx-auto mt-10">
    <!-- Button component: Handles the action to resolve the selected order -->
    <app-button 
        (onClick)="resolveButtonClick($event)" 
        [disabled]="disabledd" 
        [label]="btnLabel">
    </app-button>
</div>
