<div class="p-2">
    @if(items && items.length > 0) {
        <mat-accordion>
            @for(item of items; track $index) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="flex justify-between items-center w-full">
                                <div>
                                    {{ item.name }}
                                    <p>Time required (minutes): {{ item.timeRequired }}</p>
                                </div>
                                <mat-checkbox
                                    class="ml-2"
                                    [(ngModel)]="checkStatuses[workflowIndex ?? -1][taskIndex ?? -1][$index]"
                                    (change)="updateCheckStatus(workflowIndex ?? -1, taskIndex ?? -1, $index, $event.checked)">
                                </mat-checkbox>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="expansion-panel-content">
                        <p>{{ item.description }}</p>
                    </div>
                </mat-expansion-panel>
            }
        </mat-accordion>
    } @else {
        <p>No items available</p>
    }
</div>
