<div class="p-2">
    @if(items && items.length > 0){
        <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
            @for(item of items; track $index){
                <mat-expansion-panel [disabled]="true" cdkDrag>
                    <mat-expansion-panel-header [ngClass]="{'selected-element': itemIndices[workflowIndex??-1][taskIndex??-1] === $index}" 
                                                (click)="selectItem($index)">
                        <mat-panel-title class="flex flex-row justify-between w-1/2">
                            {{ item.name }}
                            <p>Time required (minutes): {{ item.timeRequired }}</p>
                        </mat-panel-title>
                        <mat-panel-description class="flex flex-row justify-end whitespace-nowrap">
                            <div class="whitespace-nowrap flex flex-row items-center justify-center">
                                <!-- Only Checkbox for Operators -->
                                <mat-checkbox [(ngModel)]="checkStatuses[workflowIndex??-1][taskIndex??-1][$index]" 
                                              (change)="updateCheckStatus(workflowIndex??-1, taskIndex??-1, $index, $event.checked)">
                                </mat-checkbox>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="expansion-panel-content">
                        <p>{{ item.description }}</p>
                    </div>
                </mat-expansion-panel>
            }
        </mat-accordion>
    }
</div>
