<div class="min-w-[300px] min-h-[200px]">
    <ng-container *ngIf="orderExists; else noOrder">
        <ng-container *ngIf="order.workflows.length > 0; else noWorkflows">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let workflow of order.workflows; let i = index; trackBy: trackByIndex"
                    [expanded]="expandedPanels[i]" [disabled]="isAnyWorkflowInEditMode()">
                    <mat-expansion-panel-header (click)="!isAnyWorkflowInEditMode() && selectWorkflow(i)"
                        [ngClass]="{'selected-element': selectedWorkflowIndex === i}">
                        <mat-panel-title>
                            <ng-container *ngIf="!workFlowStates[i].editMode; else editModeTitle">
                                {{ workflow.name }}
                            </ng-container>
                            <ng-template #editModeTitle>
                                <input class="edit-field" [(ngModel)]="workFlowStates[i].updatedTitle"
                                    [value]="workflow.name" aria-label="Workflow Title">
                            </ng-template>
                        </mat-panel-title>

                        <mat-panel-description class="flex flex-row justify-end whitespace-nowrap">
                            <div class="whitespace-nowrap">
                                <button mat-icon-button (click)="toggleEditMode(i, $event)"
                                    [hidden]="selectedWorkflowIndex !== i">
                                    <mat-icon>{{ workFlowStates[i].editMode ? 'warning' : 'edit' }}</mat-icon>
                                </button>
                                <button mat-icon-button (click)="deleteWorkflow(i, $event)"
                                    [hidden]="selectedWorkflowIndex !== i">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <ng-container *ngIf="doneAll">
                                    <button class="done-all" mat-icon-button>
                                        <mat-icon>done_all</mat-icon>
                                    </button>
                                </ng-container>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="expansion-panel-content">
                        <ng-container *ngIf="!workFlowStates[i].editMode; else editModeDescription">
                            <p>{{ workflow.description }}</p>
                        </ng-container>
                        <ng-template #editModeDescription>
                            <textarea class="edit-textarea" [(ngModel)]="workFlowStates[i].updatedDescription"
                                [value]="workflow.description" aria-label="Workflow Description">
</textarea>
                        </ng-template>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
    </ng-container>
    <ng-template #noWorkflows>
        <h1 class="font-bold text-red-600 text-lg">There are no workflows in the specified order!</h1>
    </ng-template>
    <ng-template #noOrder>
        <h1>The specified order could not be found!</h1>
    </ng-template>
</div>