<div class="min-w-[300px] min-h-[200px]">
    @if(orderExists){
        @if(order.workflows.length>0){
            <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
                @for(workflow of order.workflows; track $index){
                    <mat-expansion-panel [expanded]="expandedPanels[$index]" [disabled]="isAnyWorkflowInEditMode()" cdkDrag> <!-- && !workFlowStates[$index].editMode "> -->
                        <mat-expansion-panel-header (click)="!isAnyWorkflowInEditMode() && selectWorkflow($index)" [ngClass]="{'selected-element': selectedWorkflowIndex === $index}">
                            <mat-panel-title>
                                @if(!workFlowStates[$index].editMode){
                                    {{ workflow.name }}
                                }@else{
                                    <input class="edit-field" [(ngModel)]="workFlowStates[$index].updatedTitle" [value]="workflow.name">
                                }
                            </mat-panel-title>

                            <mat-panel-description class="flex flex-row justify-end whitespace-nowrap">
                                <div class="whitespace-nowrap">
                                    <button mat-icon-button (click)="toggleEditMode($index, $event)" [hidden]="selectedWorkflowIndex !== $index">
                                        <mat-icon>{{ workFlowStates[$index].editMode ? 'warning' : 'edit' }}</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="deleteWorkflow($index,$event)" [hidden]="selectedWorkflowIndex !== $index">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <!-- @if(){ -->
                                        <button class="done-all" mat-icon-button>
                                            <mat-icon>done_all</mat-icon>
                                        </button>
                                    <!-- } -->
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                    <div class="expansion-panel-content">
                        <p>{{ workflow.description }}</p>
                    </div>
                </mat-expansion-panel>

                <!-- New Workflow Expansion Panel -->
                <mat-expansion-panel [expanded]="expandedPanels[order.workflows.length]" class="new-workflow-panel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <input class="edit-field" placeholder="Enter Workflow Name" [(ngModel)]="newWorkflow.name" (blur)="addNewWorkflow()">
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="expansion-panel-content">
                        <textarea class="edit-textarea" placeholder="Enter Workflow Description" [(ngModel)]="newWorkflow.description"
                            aria-label="New Workflow Description" (blur)="addNewWorkflow()"></textarea>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
    </ng-container>
    <ng-template #noWorkflows>
        <h1 class="font-bold text-red-600 text-lg">There are no workflows in the specified order!</h1>
    </ng-template>
    <ng-template #noOrder>
        <h1>The specified order could not be found!</h1>
    </ng-template>
</div>
