<div class="grid grid-rows-3 h-screen m-5">
    <div class="row-span-1 w-full  border border-gray-500  p-4 flex">
    
        <div class="  w-1/2 h-full border border-blue-500 ml-auto">
            New Div
        </div>
        <div class="  w-1/2 h-full border border-blue-500 mr-auto">
            New Div
        </div>
    </div>
    <div class="row-span-2 grid grid-cols-3">
        <div class="col-span-1 w-full h-full border border-gray-500">
            Second Div
        </div>
        <div class="col-span-2 w-full h-full border border-gray-500">
            Third Div
        </div>
    </div>
</div>
