<div class=" flex-col-justify-center pt-36 ">
    <div class="flex-col-justify-center text-3xl">
        <p>Log In</p>
    </div>
    <div class="mt-16 w-1/4 ">
        <form class="flex-col-justify-center" [formGroup]="form" (ngSubmit)="submit()">
            <input #uname class="input-login" type="text"  placeholder="Username" formControlName="username">
            <input class="input-login" type="password"  placeholder="Password" formControlName="password">
            @if("error"){
                <p class="error">{{ error }}</p>
            }   
            <button mat-raised-button type="submit" class="btn">Login</button>
        </form>
    </div>

</div>



