<div class=" flex-col-justify-center pt-36 ">
    <div class="flex-col-justify-center text-3xl">
        <p>Log In</p>
    </div>
    <div class="mt-16 w-1/4 ">
        <form class="flex-col-justify-center" [formGroup]="form">
            <input #uname class="input-field" type="text"  placeholder="Username" formControlName="username">
            <input class="input-field" type="password"  placeholder="Password" formControlName="password">

            <div class="w-full">
                <app-button (onClick)="resolveButtonClick($event)" [disabled]="disabledd" [label]="btnLabel"></app-button>
            </div>  
            <!-- <button mat-raised-button type="submit" class="btn">Login</button> -->
        </form>
    </div>

</div>



