<!-- accordion.component.html -->
<mat-accordion>
    @for(workflow of order.workflows; track $index){
        <mat-expansion-panel >
            <mat-expansion-panel-header (click)="selectWorkflow($index)" [ngClass]="{'selected-element': selectedWorkflowIndex === $index}">
                <mat-panel-title>
                    {{ workflow.name }}
                </mat-panel-title>
                <mat-panel-description>
                    <button mat-button (click)="editWorkflow(workflow)">Edit</button>
                    <button mat-button (click)="deleteWorkflow(workflow)">Delete</button>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{ workflow.description }}</p>
        </mat-expansion-panel>
    }
