<div class="custom-toolbar flex items-center justify-between p-4 bg-white">
    <span class="flex-shrink-0">
        <img class="h-16 max-w-full" src="./assets/img/uhlmann-group-vector-logo.png" alt="Uhlmann Logo">
    </span>
    <div class="flex items-center space-x-4">
        @if(showCurrentRole){
            <mat-toolbar class="toolbar">
                <a [routerLink]="getHomeRoute()" ><span class="nav-link"> Home</span></a>
                <a [routerLink]="getOrdersRoute()"><span class="nav-link ">Orders</span></a>
                @if(userRole==='editor'){
                    <a routerLink="editor/equipment"><span class="nav-link ">Equipments</span></a>
                    <a routerLink="editor/products"><span class="nav-link ">Products</span></a>
                }
            </mat-toolbar>
        <div class="user-role flex items-center space-x-2 whitespace-nowrap">
            <mat-icon class="text-lg md:text-xl">person</mat-icon>
            <div class="p-1 text-sm md:text-base">Logged in as: {{ userRole }}</div>
        </div>
        }
        @if(btnVisible){
        <button mat-icon-button class="login-btn flex items-center space-x-2 whitespace-nowrap" (click)="onSubmit()">
            <mat-icon>{{ btnIcon }}</mat-icon>
            <div class="p-1">{{ btnLabel }}</div>
        </button>
        }
    </div>
</div>
