.radio-group {
    @apply flex flex-row gap-x-2;
  /* display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: flex-start;
  */
} 

.radio-button {
  margin: 5px;
}

.main-container{
  @apply  flex-grow 
  rounded-lg h-full border-2 border-accent 
  p-4 overflow-auto min-w-[650px] flex flex-col justify-between
  ;
}

.expansion-panel-content {
  @apply mt-4 text-gray-600 !important;
}

.selected-element {
  @apply bg-accent !important;
}
/* ---------------------- */
/* Update the mat-expansion-panel style */
.mat-expansion-panel {
  @apply bg-white border border-accent !important;
}

/* Style for the expansion-panel-header when it is expanded */
.mat-expansion-panel-header {
  @apply rounded-lg transition-all ease-in-out flex items-center justify-between;
}

/* Expanded header styling for the workflow */
.mat-expansion-panel-header.mat-expanded {
  @apply bg-accent !important;
  /* Background color for expanded panel */
  color: white !important;
  /* Text color when expanded */
}

/* Remove border and background for collapsed header */
.mat-expansion-panel-header:not(.mat-expanded) {
  @apply bg-transparent border-none !important;
  color: initial;
  /* Reset color for collapsed state */
}

/* Styling for header icons */
.header-icons {
  display: flex;
  gap: 8px;
}

/* Icon button styling */
.mat-mdc-icon-button {
  @apply text-white !important;
  /* Make icons white when header is expanded for contrast */
  cursor: pointer;
  transition: color 0.3s;
}

/* Styling for the done-all button */
.done-all {
  @apply text-green-600 !important;
  cursor: pointer;
}

/* Content styling inside the expansion panel */
.expansion-panel-content {
  @apply mt-4 text-gray-600 !important;
}

/* Edit field styling without border */
.edit-field {
  @apply text-shade p-2 rounded-lg focus:outline-none !important;
  border: none !important;
  /* Remove border */
}

/* Edit textarea styling without border */
.edit-textarea {
  @apply text-shade w-full p-2 overflow-auto rounded-lg focus:outline-none !important;
  border: none !important;
  /* Remove border */
}

/* Scrollbar styling for textarea */
.edit-textarea::-webkit-scrollbar {
  @apply w-4 h-10;
}

.edit-textarea::-webkit-scrollbar-thumb {
  @apply bg-gray-300 hover:bg-scrollbar-hover rounded-lg !important;
}

.edit-textarea::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded-tr-lg;
  position: relative !important;
}
