<!-- <div class="col-span-2  w-full h-5/6  p-4 ">
    <div class="main-container">
        <div>
            @if(elementSelected==='Workflows') {
                <div>
                    <p>Workflows selected</p>
                </div>
            }@else if (elementSelected==='Tasks'){
                <div>
                    <p>Tasks selected</p>
                </div>
            }@else if(elementSelected==='Items'){
                <div>
                    
                    
                        <mat-accordion     
                        cdkDropList id="items_sugg" 
                        [cdkDropListData]="items_sugg" 
                        (cdkDropListDropped)="drop($event)"
                        >
                        @for(item of items_sugg; track $index){
                        cdkDropList id="items_sugg" 
                        [cdkDropListData]="items_sugg" 
                        (cdkDropListDropped)="drop($event)"
                        >
                        @for(item of items_sugg; track $index){
                            <mat-expansion-panel cdkDrag>
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="flex flex-row justify-between w-1/2">
                                        {{ item.name }}
                                        <p class="">Time required (minutes): {{ item.timeRequired }}</p>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="expansion-panel-content">
                                    <p>{{ item.longDescription }}</p>
                                </div>
                            </mat-expansion-panel>
                        }
                    </mat-accordion>
                        }
                    </mat-accordion>
                </div>
            }    
        </div>
    </div>
    <div>
        <mat-radio-group class="radio-group align-bottom justify-end border border-purple-500" [(ngModel)]="elementSelected">
            @for (element of elementsOffered; track element) {
            <mat-radio-button class="radio-button" [value]="element">{{element}}</mat-radio-button>
            }
        </mat-radio-group>
    </div>
</div>

