<div class="col-span-2  w-full h-5/6  p-4 ">
    <div class="main-container">
        <div>
            @if(elementSelected==='Workflows') {
                <div class=" w-full">
                    <mat-accordion 
                        cdkDropList id="workflows_suggestions" 
                        [cdkDropListData]="workflows_suggestions" 
                        (cdkDropListDropped)="drop($event)"
                        [cdkDropListConnectedTo]="'workflows'"
                        >
                        @for(workflow of workflows_suggestions; track $index){
                        <mat-expansion-panel cdkDrag>
                            <mat-expansion-panel-header class="">
                                <mat-panel-title class=" flex flex-row justify-between w-1/2">
                                    {{ workflow.name }}
                                    <!-- <p class="">Time required (minutes): {{ item.timeRequired }}</p> -->
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="expansion-panel-content">
                                <p>{{ workflow.description }}</p>
                            </div>
                        </mat-expansion-panel>
                        }
                    </mat-accordion>
                </div>
            }@else if (elementSelected==='Tasks'){
                <div>
                    <p>Tasks selected</p>
                </div>
            }@else if(elementSelected==='Items'){
                <div class=" w-full">
                    <mat-accordion     
                        cdkDropList id="items_suggestions" 
                        [cdkDropListData]="items_suggestions" 
                        (cdkDropListDropped)="drop($event)"
                        [cdkDropListConnectedTo]="receivedItemIds"
                        >
                        @for(item of items_suggestions; track $index){
                            <mat-expansion-panel cdkDrag>
                                <mat-expansion-panel-header class="">
                                    <mat-panel-title class=" flex flex-row justify-between w-1/2">
                                        {{ item.name }}
                                        <p class="">Time required (minutes): {{ item.timeRequired }}</p>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="expansion-panel-content">
                                    <p>{{ item.description }}</p>
                                </div>
                            </mat-expansion-panel>
                        }
                    </mat-accordion>
                </div>
            }
        </div>
    </div>
    <div>
        <mat-radio-group class="radio-group align-bottom justify-end" [(ngModel)]="elementSelected">
            @for (element of elementsOffered; track element) {
            <mat-radio-button class="radio-button" [value]="element">{{element}}</mat-radio-button>
            }
        </mat-radio-group>
    </div>
</div>
 
