<div class="grid grid-rows-3 h-screen m-5">
    <!-- Order Details -->
    <div class="row-span-1 w-full flex whitespace-nowrap">
        <div class="col-span-1 w-1/3 h-full min-w-[350px] min-h-[200px]">
            <div class="w-full h-full p-4">
                @if(order) {
                    <table class="table-auto min-w-full p-4">
                        <tbody>
                            <tr><td class="field">Name:</td><td class="value">{{order.name}}</td></tr>
                            <tr><td class="field">Order number:</td><td class="value">{{order.orderNumber}}</td></tr>
                            <tr><td class="field">Description:</td><td class="value">{{order.description}}</td></tr>
                            <!-- <tr><td class="field">Equipment:</td><td class="value">{{equip.equipmentNumber }}</td></tr>
                            <tr><td class="field">Forecasting Time Estimate:</td><td class="value">{{ order.total_time_required }} mins</td></tr> -->
                        </tbody>
                    </table>
                } @else {
                    <h1>The specified order could not be found!</h1>
                }
            </div>
        </div>

    </div>

    <!-- Workflow and Tasks -->
<div class="grid grid-cols-3 gap-4">
  <!-- Left Workflow Accordion -->
  <div class="col-span-1 h-auto p-4 border rounded-md shadow">
    <app-operator-workflow-accordion
      [order]="order"
      (onOrderUpdate)="updateOrder($event)"
      (onSelect)="onSelect($event)">
    </app-operator-workflow-accordion>
  </div>

  <!-- Right Task Tabs -->
  <div class="col-span-2 h-auto p-4 border rounded-md shadow">
    <app-operator-task-tab
      [order]="order"
      [workflowIndex]="selectedWorkflowIndex"
      (onOrderUpdate)="updateOrder($event)">
    </app-operator-task-tab>
  </div>
</div>
</div>
