<div class="grid grid-rows-3 h-screen m-5">
    <div class="row-span-1 w-full flex border border-red-500 whitespace-nowrap">
        <div class="col-span-1 w-1/3 h-full border border-gray-500">
            <div class="  w-full h-full p-4">
                @if(order){
                    <table class=" table-auto min-w-full border border-red-500 p-4">
                        <tbody >
                            <tr>
                                <td class="field">Name:</td>
                                <td class="value">{{order.name}}</td>
                            </tr>
                            <tr>
                                <td class="field">Order number:</td>
                                <td class="value">{{order.orderNumber}}</td>
                            </tr>
                            <tr>
                                <td class="field">Description:</td>
                                <td class="value">{{order.shortDescription}}</td>
                            </tr>
                        </tbody>
                    </table>
                }@else {
                    <h1>The specified order could not be found!</h1>
                }
            </div>
        </div>
        <div class="col-span-2  w-2/3 h-full border border-gray-500 p-4">
            <div class="suggestion-box flex-grow rounded-lg h-full border-2 border-accent p-4 overflow-auto">
                <p>Content goes here...</p>
                <p>Content goes here...</p>
                <p>Content goes here...</p>
            </div>
        </div>
    </div>

    <div class="row-span-2 grid grid-cols-3 border border-red-500">
        <div class="col-span-1 w-full h-full border border-gray-500 p-4">
            
            <app-editor-accordion (onOrderUpdate)="updateOrder($event)" (onSelect)="onSelect($event)" [order]="order"></app-editor-accordion>
        </div>
        <div class="col-span-2  w-full h-full border border-gray-500 ">
            Third Div
        </div>
    </div>
</div>
