<div class="w-full">
    <mat-tab-group mat-align-tabs="start" mat-stretch-tabs="true" class="custom-tab-group" 
         [(selectedIndex)]="selectedTaskIndex">
         <!-- (selectedIndexChange)="onTabChange($event)"> -->
        @for(task of tasks;track $index){
            <mat-tab ><!-- *ngFor="let task of tasks; let i = index" -->
                <ng-template mat-tab-label>
                    <span class="mr-10">{{ task.name }}</span>
                    <div class="whitespace-nowrap flex flex-row gap-x-3 justify-between ">
                        <button mat-icon-button (click)="editTask(task)" [hidden]="selectedTaskIndex !== $index">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteTasks($index,$event)" [hidden]="selectedTaskIndex !== $index">
                            <mat-icon>delete</mat-icon>
                        </button>
                        @if(doneAll[$index]){
                        <button class="done-all" mat-icon-button>
                            <mat-icon>done_all</mat-icon>
                        </button>
                        }
                    </div>
                </ng-template>
                <div class="p-4">
                    <p class="text-primary m-2 text-lg underline">Description:</p>
                    <p class=" m-2">{{ task.description }}</p>
                </div>
                <div class="m-4 p-2  overflow-hidden">
                    <app-item-accordion 
                        (updatedItemsFromTasks)="updateItemsInOrder($event)" 
                        [selectedTab]="selectedTaskIndex"
                        [selectedTasks]="tasks"
                        (tabselected)="resolveCheck($event)"
                        [checksArray]="operatorCheckedStatus_tasks"
                        >
                        <!-- (itemsCheckStatus)="resolveCheck($event, $index)"> -->
                    </app-item-accordion>
                </div>
            </mat-tab>
        }
    </mat-tab-group>
</div>
