<div class="w-full">
    <mat-tab-group mat-align-tabs="start" mat-stretch-tabs="true" class="custom-tab-group" 
         [(selectedIndex)]="taskIndex" (selectedIndexChange)="onTaskSelected($event)" >
         <!-- (selectedIndexChange)="onTabChange($event)"> -->
        @for(task of tasks;track $index){
            <mat-tab >
                <ng-template mat-tab-label>
                    <div class="drag-list"  
                        #taskElement
                        cdkDropList [id]="'task-'+$index" 
                        cdkDropListOrientation="horizontal" 
                        (cdkDropListDropped)="drop($event)" 
                        [cdkDropListConnectedTo]="getAllDragTabs($index)"
                        
                        >
                        <div class="drag-box flex flex-row items-center " cdkDrag>
                            <span class="mx-4 px- pt-1 text-lg ">{{ task.name }}</span>
                            <div class="pt-3 justify-center">
                                <div class=" whitespace-nowrap flex flex-row gap-x-3 gap-y-3 justify-between">
                                    <button mat-icon-button (click)="editTask(task)" [hidden]="taskIndex !== $index">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="deleteTasks($index,$event)" [hidden]="taskIndex !== $index">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <!-- @if(doneAll[$index]){ -->
                                    <!--<button class="done-all" mat-icon-button>
                                            <mat-icon>done_all</mat-icon>
                                        </button> -->
                                    <!-- } -->
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <div class="p-4">
                    <p class="text-primary m-2 text-lg underline">Description:</p>
                    <p class=" m-2">{{ task.description }}</p>
                </div>
                <div class="m-4 p-2  overflow-hidden border ">
                        <app-item-accordion 
                        [order]="order"
                        [workflowIndex]="workflowIndex"
                        [taskIndex]="taskIndex"
                        [dropItemIdFromTask]="'itemsInTasks'+$index"
                        
                        (onOrderUpdate)="updateItemsInOrder($event)" 
                        >
                        </app-item-accordion>
                </div>
            </mat-tab>
        }
        <mat-tab >
            <ng-template mat-tab-label>
                <button mat-icon-button (click)="resolveAddTAsk($event)" class="add-task-btn border border-white bg-accent p-2 rounded-tr-md text-xl">
                    <mat-icon>add</mat-icon>
                    Add Task
                </button>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
