::ng-deep .mat-mdc-tab-body{
    @apply border-l border-r border-b border-t border-accent 
    rounded-bl-lg rounded-br-lg 
    bg-blue-50 
    min-h-96
    !important;

}

.selected-tab {
    @apply bg-blue-200;
    /* Apply a light blue background color */
}

::ng-deep .mat-mdc-tab.mdc-tab--active {
    @apply bg-accent border rounded-tl-md rounded-tr-md;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    @apply text-white !important;
}

/* ----------- */
::ng-deep .mdc-tab {
    padding: 0px !important;
    justify-content: flex-start !important;

}

::ng-deep .mat-mdc-tab .mdc-tab__content {
    padding: 0px !important;
    display: flex !important;
    justify-content: flex-start !important;
    flex: 1 1 0% !important;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    margin: 0px !important;
    display: flex !important;
    flex: 1 1 0% !important;
    line-height: 2.5 !important;
    justify-content: center !important;
}

.add-task-btn {
    @apply px-4 !important;
    display: flex;
    justify-content: center !important;
    flex: 1 1 0%;
}

/* ---------- */
.selected-element {
    @apply bg-accent !important;
}

.selected-element *:not(.edit-field) {
    @apply text-white !important;
}

.done-all {
    @apply text-green-600  !important;
}

.expansion-panel-content {
    @apply mt-4 text-primary !important;
    /* Tailwind CSS class for margin-top: 1rem */
}

.edit-field {
    @apply text-shade p-2 border border-primary rounded-lg focus:outline-none !important;
}

.edit-textarea {
    @apply text-shade w-full p-2 overflow-auto border border-primary rounded-lg focus:outline-none !important;
}

/* -------------- */

.cdk-drag-preview {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}




