
<div class="w-full  flex justify-center mt-2">
    <input class="input-field search-field  w-full" placeholder="Search..." (keyup)="applyFilter($event)">
</div>
<div class="w-4/5 mt-5 mx-auto container">
    <table mat-table [dataSource]="dataSource">
        <!-- Radio Button Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> Select Order </th>
            <td mat-cell *matCellDef="let order">
                <mat-radio-button (change)="onRadioChange(order)"></mat-radio-button>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Order No.">
            <th mat-header-cell *matHeaderCellDef> Order No. </th>
            <td mat-cell *matCellDef="let order"> {{order.orderNumber}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let order"> {{order.name}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let order"> {{order.shortDescription}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator> -->
</div>
