<div class="order-form p-4 border rounded-lg shadow max-w-lg mx-auto">
  <span class="text-2xl font-semibold mb-5 block text-center">Editor Workspace</span>

  <div class="text-center mb-5">
    <span class="text-xl font-semibold">New Order:</span>
  </div>

  <div class="grid grid-cols-2 gap-4 mb-5">
    <div class="font-semibold">Name</div>
    <div><input type="text" placeholder="Enter Order Name" class="input-field" [(ngModel)]="order.name">
    </div>

    <div class="font-semibold">Order Number</div>
    <div><input type="text" placeholder="Enter Order Number" class="input-field" [(ngModel)]="order.orderNumber">
    </div>

    <div class="font-semibold">Description</div>
    <div><input type="text" placeholder="Enter Order Description" class="input-field" [(ngModel)]="order.description">
    </div>

    <div class="font-semibold">Equipment</div>
    <div>
      <select class="input-field" [(ngModel)]="selectedEquipment" (ngModelChange)="onEquipmentChange($event)"
        title="Equipment" multiple required>
        <option *ngFor="let equipment of equipmentList" [ngValue]="equipment">{{ equipment.equipmentNumber }}</option>
      </select>
    </div>

    <div class="font-semibold">Product (old)</div>
    <div>
      <select class="input-field" [(ngModel)]="selectedProductBefore" (ngModelChange)="onProductBeforeChange($event)"
        title="Product Before" required>
        <option *ngFor="let product of productList" [ngValue]="product">{{ product.productNumber }}</option>
      </select>
    </div>

    <div class="font-semibold">Product (new)</div>
    <div>
      <select class="input-field" [(ngModel)]="selectedProductAfter" (ngModelChange)="onProductAfterChange($event)"
        title="Product After" required>
        <option *ngFor="let product of productList" [ngValue]="product">{{ product.productNumber }}</option>
      </select>
    </div>
  </div>

  <div class="order-form text-center mt-4">
    <app-button (click)="saveOrder($event)" [disabled]="createDisabled" [label]="createBtnLabel"></app-button>
  </div>
