/* Container for title */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.title {
  font-weight: bold;
  font-size: 28px;
}

/* Company info container */
.company-info {
  display: flex;           /* To align the logo and text horizontally */
  align-items: center;     
}

/* Company logo styling */
.company-logo {
  width: 125px;             
  height: auto;
  margin-right: 10px;      
}

/* Company title styling */
.company-title {
  font-size: 24px;
  font-weight: 500;        
  margin-right: 15px;
}

/* General content layout */
.content-container {
  display: flex;
  height: 100%;
}

/* Left menu (sidebar) styling */
.left-menu {
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.left-menu app-button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

/* Right content */
.right-content {
  flex-grow: 1;
  padding: 20px;
}

/* Tabs container */
mat-tab-group {
  margin-top: 10px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

/* Next button */
.next-button {
  margin-top: 30px;
  text-align: right;
}

mat-card {
  padding: 20px;
  margin-top: 10px;
}
