<!-- Container for the editor workspace -->
<div class="p-4 border rounded-lg shadow max-w-lg mx-auto border-primary">
  
  <!-- Title for the editor workspace with large, bold, and centered text -->
  <span class="text-2xl font-semibold mb-5 block text-center">Editor Workspace</span>
  
  <!-- Subtitle indicating that the user should provide product information -->
  <div class="text-center mb-5">
    <span class="text-xl font-semibold">Please Provide information:</span>
  </div>
  
  <!-- Grid layout with two columns to organize the form inputs -->
  <div class="grid grid-cols-2 gap-4 mb-5">
    
    <!-- Product Number input field -->
    <div class="font-semibold">Product Number</div>
    <div><input type="text" placeholder="Enter Product Number" class="input-field" [(ngModel)]="product.productNumber" (input)="checkFormCompletion()"></div>

    <!-- Product Name input field -->
    <div class="font-semibold">Product Name</div>
    <div><input type="text" placeholder="Enter Product Name" class="input-field" [(ngModel)]="product.name" (input)="checkFormCompletion()"></div>

    <!-- Product Type input field -->
    <div class="font-semibold">Product Type</div>
    <div><input type="text" placeholder="Enter Product Type" class="input-field" [(ngModel)]="product.type" (input)="checkFormCompletion()"></div>

    <!-- Product Description input field -->
    <div class="font-semibold">Product Description</div>
    <div><input type="text" placeholder="Enter Description" class="input-field" [(ngModel)]="product.description" (input)="checkFormCompletion()"></div>
    
    <!-- Product Language input field -->
    <div class="font-semibold">Product Language</div>
    <div><input type="text" placeholder="Enter Product Language" class="input-field" [(ngModel)]="product.language" (input)="checkFormCompletion()"></div>

    <!-- Product Country input field -->
    <div class="font-semibold">Product Country</div>
    <div><input type="text" placeholder="Enter Product Country" class="input-field" [(ngModel)]="product.country" (input)="checkFormCompletion()"></div>
  
    <!-- Package Size input field -->
    <div class="font-semibold">Package Size</div>
    <div><input type="text" placeholder="Enter Package Size" class="input-field" [(ngModel)]="product.packageSize" (input)="checkFormCompletion()"></div>

    <!-- Package Type input field -->
    <div class="font-semibold">Package Type</div>
    <div><input type="text" placeholder="Enter Package Type" class="input-field" [(ngModel)]="product.packageType" (input)="checkFormCompletion()"></div>

  </div>
</div>

<!-- Button section centered below the form -->
<div class="text-center mt-4">
  <app-button (onClick)="saveProduct($event)" [disabled]="createDisabled" [label]="createBtnLabel"></app-button>
</div>
