.login-container {
    display: flex-flow;
    flex-wrap: column;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    padding: 30px;
    background-color: lightblue;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.error-message {
    color: red;
    margin-top: 10px;
}
